@import "../../../../global/Colors.scss";

.oneProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: auto;
    padding: 10px 0px 10px 0px;
    border-radius: 1em;

    h1 {
        width: 100%;
        font-size: 40px;
        margin-bottom: 10px;
    }
    h2 {
        padding-top: 30px;
        width: auto;
        font-size: 30px;
        color: $Titulo;
    }
    div.Dates {
        background-color: $Piel;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        border-radius: 1em;

        img {
            background-color: $Blanco;
            width: 400px;
            height: 400px;
            margin: auto;
            object-fit: contain;
            border-radius: 1em;
        }
        .datesProducts {
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            .Description{
                padding-top: 50px;
            }
            .span {
                font-size: 25px;
                font-weight: 600;
                color: $Texto;
            }
            .Stock,
            .Description,
            .Price {
                font-size: 20px;
                color: $Negro;
                text-align: left;
            }
        }
    }
}
