$VerdeOscuro : #123A22;
$VerdeOscuro-Hover : #409562;
$Fondo: pink;
$Azul-Contorno: #6FA6FB;
$Blanco: #FFF;
$Negro: rgb(0, 0, 0);
$Gris-Borde: #CFCFCF;

$EggPlant: #4A2748;
$Grapes:#775075;
$Shale: #F9EEEB;
$Sand: #F2DECB;