@import '../../../global/Colors.scss';
@import '../../../global/global.scss';
@import '../../../global/loader.scss';

.itemDetailContainer {
    margin: 30px 30px;
    padding: 50px 50px;
    text-align: center;
    border-radius: 1em;
}

.ItemContainer {
    img {
        background-color: $Blanco;
        width: 300px;
        height: 300px;
        margin: auto;
        object-fit: contain;
        border-radius: 1em;
    }
    .detailsContainer {
        width: 100%;
        padding: 30px;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        display: flex;
        background-color: $Fondo;

        font-size: 20px;
        color: $Negro;
        text-align: left;
        .span {
            font-size: 25px;
            font-weight: 600;
            color: $Texto;
        }
    }
}

.itemCount {
    width: 40%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    p {
        color: $Negro;
        padding: 10px;
        margin-left: 5px;
    }
    div {
        border: 1px solid $FondoOscurito;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        i {
            padding: 10px;
        }
    }
    div,
    button,
    a {
        width: 90%;
        margin: 10px auto;
        background-color: $Blanco;
        color: $Texto;
        border-radius: 7px;
    }
}

.thisButtons {
    width: 40%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
}
