@import "../../../global/Colors.scss";
@import "../../../global/global.scss";

.itemListContainer {
    margin: 30px 30px;
    padding: 50px 50px;
    text-align: center;
    border-radius: 1em;
    h1{
        color: $Titulo;
    }
}

.listProduct {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    .ItemsProducts {
        background-color: $Fondo;
        margin: 20px auto;
        padding: 20px;
        width: calc(80% / 5);
        h1 {
            font-size: 20px;
        }
        img {
            background-color: $Blanco;
            width: 200px;
            height: 200px;
            object-fit: contain;
            border-radius: 1em;
        }
        p.Price{
            font-size: 20px;
            margin-bottom: 30px;
        }
        p {
            color: $Texto;
        }
    }
}
