@import "../../../../../global/Colors.scss";

.itemCount {
    width: 40%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    p {
        color: $Negro;
        padding: 10px;
        margin-left: 5px;
    }
    div {
        border: 1px solid $Texto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        i {
            padding: 10px;
        }
        span{
            color: $Texto;
        }
    }
    button {
        border: 2px solid $Texto;
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        a{
            text-decoration: none;
        }
    }
    div,
    button,a {
        width: 90%;
        margin: 10px auto;
        background-color: $Blanco;
        color: $Texto;
        border-radius: 7px;
    }
}