@import "../../global/Colors.scss";

.navBar {
    display: flex;
    flex-direction: row;
    background-color: $Grapes;
    text-decoration: none;
    list-style: none;
    user-select: none;
    box-shadow: 1px 1px 5px .5px $EggPlant;

    .navContainer {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        li {
            list-style: none;
            .list {
                font-size: 25px;
                font-weight: 600;
                display: block;
                color: $Shale;
                text-align: center;
                padding: 14px 16px;
            }
        }
    }
    .navUser {
        margin: auto;
        font-size: 30px;
        width: 10%;
        padding: 5px;
        border-radius: 1em;
        color: $Shale;
        text-align: center;
    }
    .CartWidget{
        width: 5%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        i,p{
            margin: auto;
            text-align: start;
            font-size: 30px;
            width: calc(50%/2);
            padding: 5px;
            color: $Shale;
        }
        p{
            margin-top: 30px;
        }
    }
    .list,
    .navUser {
        text-decoration: none;
        border-radius: 1em;
        transition: 0.3s;
        &:hover {
            background-color: $EggPlant;
            transform: scale(1.05);
        }
    }
}
