@import "../../global/Colors.scss";

.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background-color: $NavBarBackground;
    .navUser {
        font-size: 2em;
        &:hover {
            transform: scale(1.05);
        }
    }
    .navContainer {
        display: flex;
        width: 70%;
        align-content: flex-end;
        justify-content: center;
        flex-direction: row;
        li {
            list-style: none;
            .list {
                transition: 0.1s;
                font-size: 1em;
                &:hover {
                    border-radius: 1em;
                    background-color: $Background_ColorNaranjaOscuro;
                }
            }
        }
    }
    .navUser,
    .list {
        padding: 20px;
        text-decoration: none;
        color: $NavBar;
    }
}

.CartWidget {
    width: 6%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: $Background_ColorNaranjaOscuro;
    padding: 0.5em;
    margin: auto;
    border-radius: 0.5em;
    &:hover {
        background-color: #00A8A1;
    }
    i,
    p {
        color: $NavBar;
        margin: auto;
        text-align: start;
        font-size: 30px;
        width: calc(50% / 2);
        padding: 5px;
    }
}